html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body, #app {
  font-family: "Buenos Aires", "Montserrat", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}
