.btn {
  background: #eeeeee;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0 0 black;
  }

  &:hover {
    background: #dddddd;
  }
}

.btn--circular {
  border-radius: 50%;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px black;
  }
}

.btn--large {
  height: 80px;
  width: 80px;
}

.btn--full {
  height: 100%;
  width: 100%;
}
