.row {
  display: block;
  width: 100%;
}

.pad-b-8 {
  padding-bottom: 8px;
}

.pad-t-8 {
  padding-top: 8px;
}

.float {
  position: fixed;
}

.float-r-16 {
  right: 16px;
}

.float-b-16 {
  bottom: 16px;
}
