.modal {
  background: rgba($color: #000000, $alpha: 0.1);
  display: flex;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal--center {
  justify-content: center;
}

.modal__content {
  align-self: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba($color: #000000, $alpha: 0.1);
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 8px;
  position: relative;
  transition: all 1s ease-in-out;
}

@media (orientation: landscape) {
  .modal__content--medium {
    height: 400px;
    width: 500px;
  }
}

@media (orientation: portrait) {
  .modal__content--medium {
    height: 85%;
    width: 90%;
  }
}

.modal__header {
  height: 40px;
  border-bottom: 1px solid #eeeeee;
}

.modal__title {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.modal__close {
  background: white;
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba($color: #000000, $alpha: 0.1);
  height: 40px;
  position: absolute;
  right: -15px;
  top: -15px;
  width: 40px;

  &:hover {
    background: #aaaaaa;
    color: white;
    cursor: pointer;
  }

  .fa-times {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
}

.modal__body {
  flex: 1;
}

.modal__footer {
  height: 40px;
}
