.navbar {
  align-items: center;
  background: #eeeeee;
  display: flex;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;

  .navbar__logo {
    margin: 0 4px;
  }

  .navbar__item {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    margin-right: 16px;
  }

  .navbar__item:hover {
    border-bottom: 1px solid;
  }

  a {
    align-items: center;
    display: flex;
    text-decoration: none;
    height: 100%;
  }
}

.navbar--right {
  margin-left: auto;
}

.logo {
  display: inline-block;
  width: 40px;
  margin: 0 4px;
}

.body {
  position: fixed;
  height: calc(100% - 50px);
  overflow: hidden;
  top: 50px;
  width: 100%;
}
