.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.table {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

.table__row {
  height: 45px;
}

.table__row--header {
  height: 30px;
}

.table__row--header,
.table__row__cell {
  border-bottom: 1px solid #eeeeee;
}

.cell--40px {
  width: 40px;
}

.table__header__cell,
.table__row__cell {
  @extend .text-truncate;
  text-align: left;
  padding-left: 10px;
}

.table__actions {
  margin-right: 5px;
}
